<<<<<<< HEAD
<footer class="footer">footer</footer>
=======

<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- 左側 LOGO -->
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="fw-bold mb-0">
          <img src="../assets/images/Logo.png" alt="MatchFit Logo" width="196" height="28" />
        </h5>
      </div>

      <!-- 右側導覽列 -->
      <div class="col-md-8 text-md-end">
        <a href="#" class="text-white text-decoration-none fs-5 mx-3">教練探索</a>
        <a href="#" class="text-white text-decoration-none fs-5 mx-3">課程探索</a>
        <a href="#" class="text-white text-decoration-none fs-5 mx-3">最新活動</a>
      </div>
    </div>

    <!-- 下方版權區 -->
    <div class="text-center mt-3">
      <p class="fs-6 mb-0">© 2025 MatchFit. All Rights Reserved</p>
    </div>
  </div>
</footer>


>>>>>>> e446451 (first commit)
