<<<<<<< HEAD
<h1 class="header">header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>
=======
<head class="">
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <img src="../assets/images/Logo.png" alt="MatchFit Logo" width="196" height="28" />

    <div class="navbar-nav ms-auto d-flex align-items-center fz-5">
      <a class="nav-link text-white fw-medium" href="#">教練探索</a>
      <a class="nav-link text-white fw-medium" href="#">課程探索</a>
      <a class="nav-link text-white fw-medium" href="#">最新活動</a>
      <span class="divider text-white">｜</span>
      <a class="nav-link text-white fw-medium" href="#">登入/註冊</a>
    </div>
  </div>
</nav>


</head>
>>>>>>> e446451 (first commit)
